@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ltr {
    direction: ltr;
  }

  .rtl {
    direction: rtl;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url('/font/Gilroy/Gilroy-Medium.eot') format('eot'),
    url('/font/Gilroy/Gilroy-Medium.ttf') format('ttf'),
    url('/font/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('/font/Gilroy/Gilroy-Medium.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url('/font/Peyda/Peyda-Medium.eot') format('eot'),
    url('/font/Peyda/Peyda-Medium.ttf') format('ttf'),
    url('/font/Peyda/Peyda-Medium.woff') format('woff'),
    url('/font/Peyda/Peyda-Medium.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url('/font/YekanBakh/YekanBakh-Regular.eot') format('eot'),
    url('/font/YekanBakh/YekanBakh-Regular.ttf') format('ttf'),
    url('/font/YekanBakh/YekanBakh-Regular.woff') format('woff'),
    url('/font/YekanBakh/YekanBakh-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  font-family: YekanBakh !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: -webkit-linear-gradient(left, #00000033, #00000033), url('/images/desktop-img-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}